<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>COMPOSE</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script>
    const onClickHome = async () => {
      console.log("This is onClickHome function");
      let res = await fetch("http://localhost:3000/homeStd");
      let str = await res.json();
      console.log("Response : ", str);
    }

    const onClickAbout = async () => {


      console.log("I am in somewhere");
      let option = {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          name: "Prasheet",
          year: "3rd"
        })
      };
      let res = await fetch("http://localhost:3000/aboutUS", option);
      let str = await res.text();
      console.log("Response of About Us :", str);
    }
  </script>

<body>
  <div>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand" style=>LIBRARY MANAGEMENT SYSTEM</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a onclick='onClickHome()'>HOME</a></li>

          <li id="about"><a onclick='onClickAbout()'>ABOUT US</a></li>

          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <!-- <li><a href="/composeStd">Compose</a></li> -->

        </ul>
      </div>
    </nav>


  </div>




<div class="card">
  <h1><%= posts.title %></h1>
  <p><%= posts.content %></p>
  <a href="/userBook/<%=posts._id%>">Buy On Rent </a>
 


</div>




</body>

</html>